<template>
  <div id="app" class="app-container">
    <form class="form--user-login" method="post" @submit.prevent="submitForm">
      <h1 class="form__title">{{formTitle}}</h1>
      <div class="form__content" v-if="!formSubmitted">
        <div class="form__alert">
          <div class="form__alert info" v-if="!errorMessages.length">
            <p>Login with the data you provided during registration.</p>
          </div>
          <div class="form__alert errors" v-else>
            <p>Please fix the following error(s)</p>
            <ul>
              <li v-for="(msg, index) in errorMessages" :key="index">{{ msg }}</li>
            </ul>
          </div>
        </div>
        <div class="form__element">
          <label for="username">Username</label>
          <input
            id="username"
            class="form__element--username"
            name="username"
            type="text"
            v-model="username"
            @change="validateUsername"
          />
        </div>
        <div class="form__element">
          <label for="password">Password</label>
          <input
            id="password"
            class="form__element--password"
            name="password"
            type="password"
            v-model="password"
            @change="validatePassword"
          />
        </div>
        <div class="form__element">
          <button class="form__element--button" type="submit" :disabled="!isFormValid">Login</button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: "App",
  components: {},
  data() {
    return {
      username: "",
      password: "",
      errorMessages: [],
      hasError: false,
      formSubmitted: false,
    };
  },
  methods: {
    validateUsername() {
      const msg = "Please provide a valid username.";
      this.errorMessages = this.errorMessages.filter((m) => m !== msg);

      if (!this.username.trim()) {
        this.errorMessages.push(msg);
      }
    },
    validatePassword() {
      const msg = "Please provide a valid password.";
      this.errorMessages = this.errorMessages.filter((m) => m !== msg);

      if (!this.password.trim()) {
        this.errorMessages.push(msg);
      }
    },
    submitForm() {
      this.formSubmitted = true;
    },
  },
  computed: {
    isFormValid() {
      return this.username && this.password && this.errorMessages.length == 0;
    },
    formTitle() {
      return this.formSubmitted ? "You're logged in!" : "Login";
    },
  },
  created() {
    document.title = "Login";
  },
};
</script>

<style lang='scss'>
$primary: rgb(89, 35, 181);
$secondary: rgb(174, 145, 233);
$border: rgba(183, 183, 204, 0.5);
$bg: rgb(232, 232, 232);
$text: rgb(114, 122, 130);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$danger: rgb(255, 65, 65);

@mixin form__element--text {
  border: solid 1px rgba($border, 0.8);
  border-radius: 10px;
  padding: 15px 15px;
  font-size: 18px;
  font-weight: normal;
  outline: none;

  &:focus {
    border-color: $primary;
  }
}

body {
  padding: 0;
  margin: 0;
  background-color: $bg;
  color: $text;
}
.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}

.form--user-login {
  width: 500px;
  padding: 80px 100px;
  background-color: #ffffff;
  border-radius: 30px;
  border: solid 25px $border;
  box-shadow: 0px 20px 10px rgba($black, 0.2);

  .form__title {
    color: $black;
    font-size: 38px;
    font-weight: bolder;
    margin: 0 0 15px;
  }

  .form__alert {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 30px;

    &.errors {
      color: $danger;
    }
  }

  .form__element {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    label {
      display: block;
      margin-bottom: 15px;
      color: darken($text, 20%);
    }

    .form__element--username {
      @include form__element--text();
    }

    .form__element--password {
      @include form__element--text();
    }

    .form__element--button {
      display: block;
      margin-top: 30px;
      padding: 15px;
      background-color: $secondary;
      color: $white;
      border: solid 3px rgba($black, 0.2);
      border-radius: 5px;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
      transition: background 0.5s;

      &:hover {
        background-color: $primary;
        border-color: rgba($black, 0.4);
      }

      &:disabled {
        cursor: not-allowed;
        color: rgba($black, 0.5);
        background-color: $bg;
        border-color: rgba($black, 0.1);
      }
    }
  }
}
</style>
